.slide.device-access.current#speech-input
    .flex.hbox.boxcenter
        .noflex.vbox.boxcenter{:style=>"height:300px;text-align:center"}
            %input#speech-input-field{:type=>"text", :"x-webkit-speech"=>""}
